.flex  a{
   text-decoration: none;
   color:black;
   font-size: 19px;
}
.flex  a:hover{
    color:rgb(12, 12, 12);
    border-bottom: 2px solid red;
}
.navbar1{
    margin-top: 30px;
}
.active{
   
   
    position: fixed;
     top:0;
     margin-top: 30px;
    transition: 0.3s linear;
    display:flex;
    width: 1200px;
    justify-content:space-around;
    align-items: center;
   
   
   
   
    
}
.hidden{
   
    width: 100%;
    z-index: 40;
    background-color: transparent;
    position: fixed;
    top: -70px;
    transition: 0.3s linear;

}
@media (max-width:1241px){
    .active{
   
   
        position: fixed;
         top:0;
         margin-top: 30px;
        transition: 0.3s linear;
        display:flex;
        width: 900px;
        justify-content:space-around;
        align-items: center;
       
        background-color:transparent;
       
       
        
    }
    .hidden{
       
        width: 100%;
        z-index: 40;
        
        position: fixed;
        top: -70px;
        transition: 0.3s linear;
    
    }
}
  