#margintop1{
    margin-top: 50px;
/* background-image: url('../assets/img/features/back2.jpeg'); */
background-repeat: no-repeat;
background-size: contain;
background-size: cover;
box-shadow: 0 0 20px 6px rgba(95, 94, 94, 0.4);

border: 2px solid rgb(158, 157, 157);
}
#text1{
    color:rgb(83, 6, 83);
    border-bottom: 3px solid white;
   

}